body{
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Open Sans', sans-serif;
    color: #282626;
}
#header_section{
    background-image: url(../img/donation_bacground.png);
    background-position-y: center;
    background-repeat: no-repeat;
   
}
.header_text_area{
    text-align: center;
    width: 41%;
    margin: 0 auto;
    padding-top: 6%;
    color: #fff;
    padding-bottom: 6%;
}
.header_text_area h1{
    font-size: 50px;
    font-weight: 800;
}
.header_text_area p{
    line-height: 1.9;
    text-align: center;
    font-size: 18px;
}
button{
    background-color: red;
    padding: 10px 20px;
    color: #fff;
    border: navajowhite;
    border-radius: 3px;
    box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
}
.donate_button{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
}
 /* donate today sectin */
 #donate_today_section{
    text-align: center;
    width: 50%;
    margin: 0 auto;
    padding-top: 6%;
    padding-bottom: 4%;
 }
 .donate_today{

 }
 .donate_today h1{
    font-size: 35px;
 }
 .donate_today p{
    line-height: 1.6;
 }
 .donate_today_taka{
    margin-top: 5%;
 }
 .donate_today_taka ul{
    list-style: none;
    display: flex;
    padding-left: 0px;
 }
 .donate_today_taka ul li{
    padding: 20px 30px;
    border: 1px solid #ccc;
    margin-left: 1%;
    font-size: 26px;
    border-radius: 3px;
    background-color: #f5f5f5;
    font-weight: 600;
 }
 .donate_today_taka ul .active{
    border: 1px solid #c91c1c;
    color: red;
    font-weight: 600;
 }
 .donate_today_text{
    margin-top: 5%;
 }
input {
    background: none;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid crimson;
    width: 100%;
    text-align: center;
}
input:focus-visible {
    outline:none !important;
    border-radius: 3px;
}
.donate_today_text button{
    margin-top: 4%
}
#Donate_Plan_section{
    text-align: center;
    width: 50%;
    margin: 0 auto;
    padding-bottom: 1%;
}
.donate_distibustion{
    display: flex;
    margin-left: 7%;
    margin-right: 7%;
    margin-top: 3%;
    margin-bottom: 2%;
}
.donate_dis_01{
    max-width: 33%;
    background-color: #4fa68833;
    padding: 20px;
    margin-right: 20px;
}
.donate_dis_02{
    max-width: 33%;
    background-color: #4463af52;
    padding: 20px;
    margin-right: 20px;
}
.donate_dis_03{
    max-width: 33%;
    background-color: #84828d1f;
    padding: 20px;
   
}
.donate_dis_01 img {

 }
 .donate_dis_01 h3{

 }
 .donate_dis_01 p{

 }