body{
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Open Sans', sans-serif;
    color: #282626;
}
#header_section{
    background-image: url(../img/donation_bacground.png);
    background-position-y: center;
    background-repeat: no-repeat;
   
}
.header_text_area{
    text-align: center;
    width: 41%;
    margin: 0 auto;
    padding-top: 6%;
    color: #fff;
    padding-bottom: 6%;
}
.header_text_area h1{
    font-size: 50px;
    font-weight: 800;
}
.header_text_area p{
    line-height: 1.9;
    text-align: center;
    font-size: 18px;
}
button{
    background-color: red;
    padding: 10px 20px;
    color: #fff;
    border: navajowhite;
    border-radius: 3px;
    box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
}
.donate_button{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
}
 /* donate today sectin */
 #donate_today_section{
    text-align: center;
    width: 50%;
    margin: 0 auto;
    padding-top: 6%;
    padding-bottom: 6%;
 }
 .donate_today{

 }
 .donate_today h1{
    font-size: 35px;
 }
 .donate_today p{
    line-height: 1.6;
 }
 .donate_today_taka{
    margin-top: 5%;
 }
 .donate_today_taka ul{
    list-style: none;
    display: flex;
    padding-left: 0px;
 }
 .donate_today_taka ul li{
    padding: 20px 30px;
    border: 1px solid #ccc;
    margin-left: 1%;
    font-size: 26px;
    border-radius: 3px;
    background-color: #f5f5f5;
    font-weight: 600;
 }
 .donate_today_taka ul .active{
    border: 1px solid #c91c1c;
    color: red;
    font-weight: 600;
 }
 .donate_today_text{
    margin-top: 5%;
 }
input {
    background: none;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #ccc;
    width: 100%;
    text-align: center;
}
.donate_today_text button{
    margin-top: 4%
}